<div class="tableku">
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <th>CODE NAME</th>
            <th>NAMA</th>
            <th>DEPARTEMENT</th>
            <th>DATE</th>
        </thead>
        <tbody>
            
            <tr>
                <td><%- codename%></td>
                <td><%- name%></td>
                <td><%- departement%></td>
                <td><%- date%></td>
            </tr>

        </tbody>
    </table>
</div>